/* Text style */

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 28px;
}

h2 {
    font-family: 'Lobster Two', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

p, ul, li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Fonts*/
.lora {
    font-family: 'Lora', serif;
}

.lobster-two {
    font-family: 'Lobster Two', sans-serif;
}

.source-sans-3 {
    font-family: 'Source Sans 3', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Header section */


/*  */